#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
}

.col-1 {
  width: 33.33%;
}

.col-2 {
  width: 66.66%;
}

.ml-4 {
  margin-left: 24px;
}

img {
  max-width: 100%;
}

.fixed {
  position: fixed;
}

.section {
  display: flex;
  align-items: center;
  height: 400px;
}

.section-one {
  background: lightblue;
}

.section-two {
  background: lightgreen;
}

.section-three {
  background: pink;
}

.mt-8 {
  margin-top: 240px;
}

.invisible {
  visibility: hidden;
}
